[mysqld]
datadir=/data/pathdb/mysql
user=mysql
skip-name-resolve
symbolic-links=0
max_connections = 150
max_user_connections = 150
key_buffer = 36M
myisam_sort_buffer_size = 64M
join_buffer_size = 2M
read_buffer_size = 2M
sort_buffer_size = 3M
table_cache = 1024
thread_cache_size = 286
interactive_timeout = 25
wait_timeout = 1800
connect_timeout = 10
max_allowed_packet = 16M
max_connect_errors = 1000
query_cache_limit = 1M
query_cache_size = 0
query_cache_type = 0
tmp_table_size = 16M

innodb-flush-log-at-trx-commit=2
innodb_file_per_table=ON
innodb_buffer_pool_size = 4G
innodb_log_file_size=512M
innodb_stats_on_metadata=0
innodb_buffer_pool_instances=4

[mysqld_safe]

